{{#if showFooter}}
<div class="wrap">
  <div class="flexbox">
    <div class="footer-inner-links">
      <!-- Hamburger menu for thepavilion -->
      <button id="tog" class="responsive-toggle left btn no-text ember-view" type="button" {{ action "openSideBar" }}>
        <img src="https://thepavilion.io/uploads/default/original/2X/d/d76070707333dee1c248c0f47e3fb0e2329404ec.png"
        class="image-icon">
      </button>

      {{#each mainHeading as |section|}}
        {{#if section.join}}
        {{d-button action=(route-action 'showCreateAccount') class='btn-primary btn-large sign-up-button' label='sign_up'}}
        {{else}}
          <div class="title">
            {{!--<a href="{{section.link}}" {{ action "myAction" }}>{{section.text}}</a>--}}
            <a href="{{section.link}}">{{section.text}}</a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  {{!--
  <div class="flexbox">
    <div class="first-box">
      <div class="heading">
        {{mainHeading}}
      </div>
      <div class="blurb">
        {{blurb}}
      </div>
    </div>
    <div class="second-box">
      <div class="links">
        {{#each linkSections as |section|}}
        <div class="list">
          <span class="{{section.className}}" title="{{section.title}}">
            {{section.text}}
          </span>
          <ul>
            {{#each section.childLinks as |link|}}
            <li class="footer-section-link-wrapper {{link.className}}">
              <a class="footer-section-link" title="{{link.title}}" href="{{link.href}}" target="{{link.target}}">
                {{link.text}}
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="third-box">
      <div class="footer-links">
        {{#each smallLinks as |link|}}
        <a class="small-link {{link.className}}" title="{{link.title}}" target="{{link.target}}"
          href="{{link.href}}">{{link.text}}</a>
        {{/each}}
      </div>
      <div class="social">
        {{#each socialLinks as |link|}}
        <a class="social-link {{link.className}}" title="{{link.title}}" target="{{link.target}}"
          href="{{link.href}}">{{d-icon link.icon}}</a>
        {{/each}}
      </div>
    </div>
  </div>
  --}}
</div>
{{/if}}
